<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Redshift</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/retro.css') }}">
</head>
<body class="{{ current_user.theme if current_user.is_authenticated else 'theme-green' }}">

<div class="top-bar">
  REDSHIFT // 
  {% if state %} {{ state.current_phase }} {% else %} STATE UNKNOWN {% endif %}
   // {{ time_remaining }} REMAINING<br/>
  {{ 'CONTROL' if current_user.role == 'Control' else 'PLAYER' }} {{ current_user.username }} // TERMINAL NODE
</div>
  

  <div class="nav-bar {% if current_user.role == 'Control' %}control-nav{% else %}player-nav{% endif %}">
      REDSHIFT // {{ current_user.role if current_user.is_authenticated else "GUEST" }} MODE<BR/>
      <a href="{{ url_for('main.index') }}">Home</a>
      {% if current_user.is_authenticated %}
        {% if current_user.role == 'Control' %}
         <a href="{{ url_for('main.dashboard') }}">Control Dashboard</a>
        <a href="{{ url_for('main.manage_displays') }}">Displays</a>
        <a href="{{ url_for('main.control_game_state') }}">Game State</a>
          {% endif %}
       {% if current_user.role == 'Player' %}
          <a href="{{ url_for('main.dashboard') }}">My Character</a>
          {% if character %}
            <a href="{{ url_for('main.edit_character') }}">Edit Character</a>
            <a href="{{ url_for('main.claim_item') }}">Claim Item</a>
          {% else %}
            <a href="{{ url_for('main.create_character') }}">Create a Character</a>
          {% endif %}
        {% endif %}
        <a href="{{ url_for('auth.logout') }}">Logout</a>
      {% else %}
        <a href="{{ url_for('auth.login') }}">Login</a>
        <a href="{{ url_for('auth.register') }}">Register</a>
      {% endif %}
    </div>
    <hr>

  {% block content %}{% endblock %}

  // TERMINAL NODE // ACCESS AUTH: {{ current_user.username }} 

<form action="{{ url_for('main.set_theme') }}" method="POST" class="errata">
  {% set themes = ['theme-green', 'theme-yellow', 'theme-orange'] %}
  {% for theme in themes %}
    {% if current_user.theme != theme %}
      <button type="submit" name="theme" value="{{ theme }}" class="errata">
        {{ theme.replace('theme-', '').capitalize() }}
      </button>
    {% endif %}
  {% endfor %}
</form>

<main class="main-content">
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class="flashes">
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
</main>

</body>
</html>

