<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Redshift</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/retro.css') }}">
</head>
<body>
<div class="crt>"
    <div class="nav-bar {% if current_user.role == 'Control' %}control-nav{% else %}player-nav{% endif %}">
        REDSHIFT // {{ current_user.role if current_user.is_authenticated else "GUEST" }} MODE<BR/>
        {% if current_user.is_authenticated %}
          <a href="{{ url_for('main.dashboard') }}">Dashboard</a>
          {% if current_user.role == 'Control' %}
            <a href="{{ url_for('main.dashboard') }}">Characters</a>
            <a href="{{ url_for('main.control_data') }}">Tables</a>
          {% else %}
            {% if character %}
                <a href="{{ url_for('main.edit_character') }}">Edit Character</a>
                <a href="{{ url_for('main.claim_item') }}">Claim Item</a>
            {% else %}
                <a href="{{ url_for('main.create_character') }}">Create a Character</a>
            {% endif %}
            
          {% endif %}
          <a href="{{ url_for('auth.logout') }}">Logout</a>
        {% else %}
          <a href="{{ url_for('auth.login') }}">Login</a>
          <a href="{{ url_for('auth.register') }}">Register</a>
        {% endif %}
      </div>
      <hr>

  {% block content %}{% endblock %}

  // TERMINAL NODE // ACCESS AUTH: {{ current_user.username }} 

</div>
</body>
</html>
