{% extends "base.html" %}
{% block content %}
<h1>Control Dashboard</h1>
<h2>All Users</h2>
<ul>
  {% for user in users %}
    <li>{{ user.username }} ({{ user.role }}) - {{ '✅ Verified' if user.is_verified else '❌ Unverified' }}</li>
  {% endfor %}
</ul>

<hr>

<h2>All Characters</h2>
<ul>
  {% for char in characters %}
    <li>
      {{ char.name }} – <em>{{ char.position }}</em> [{{ char.status }}] (Player: {{ char.user.username }})
      <a href="{{ url_for('main.edit_character_control', char_id=char.id) }}">[ Edit ]</a>
    </li>
  {% endfor %}
</ul>


<a href="{{ url_for('auth.logout') }}">Log Out</a>

{% endblock %}