{% extends "base.html" %}
{% block content %}

<div class="pre-logo">


██████╗ ███████╗██████╗ ███████╗██╗  ██╗██╗███████╗████████╗
██╔══██╗██╔════╝██╔══██╗██╔════╝██║  ██║██║██╔════╝╚══██╔══╝
██████╔╝█████╗  ██║  ██║███████╗███████║██║█████╗     ██║   
██╔══██╗██╔══╝  ██║  ██║╚════██║██╔══██║██║██╔══╝     ██║   
██║  ██║███████╗██████╔╝███████║██║  ██║██║██║        ██║   
╚═╝  ╚═╝╚══════╝╚═════╝ ╚══════╝╚═╝  ╚═╝╚═╝╚═╝        ╚═╝   
</div>                                      

<h1 style="text-align: center;">TERMINAL ACCESS // REDSHIFT MEGAGAME SYSTEM v1.0</h1>

{% endblock %}
