<!DOCTYPE html>
<html>
<head>
  <title>Redshift</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/retro.css') }}">
</head>
<body>
  <h1>Login</h1>

  <form method="post">
    <label>Username:</label><br>
    <input type="text" name="username" required><br><br>
  
    <label>Password:</label><br>
    <input type="password" name="password" required><br><br>
  
    <input type="submit" value="Log In">
  </form>
  
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul>
        {% for message in messages %}
          <li style="color: red;">{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
</body></html>